/*! CSS bare bones for recipes site */

 html {
  font-family:Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-image: url("../uploads/jimmy-dean-Yn0l7uwBrpw-unsplash.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the rest is up to you */



body{
  padding: 100px 0px;
}





h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(17, 100, 233);
  font-size: 25px;
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: center;
}

p {
  color: rgb(0, 0, 0);
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  color: #000000;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 12px;
  margin-left: 6px;
  
}

h3 {
  margin-left: 2px;
}
main {
  width:55%;
  margin: 0 auto;
  /* border: 1px solid purple; */
  background-color: white;
  padding-bottom: 1px;
  overflow: auto;
}


.recipeshome img { 
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
  float: none;
}

ul{
  margin-left: 30px;
  /* columns: 2; */
  /* column-rule: 1px; */
  margin-bottom: 4.5rem;
}

li {
  font-size: .8em;
  margin-bottom: 8px;
}

ol{
  margin-left: 30px;
}

.caption{
float:right;
font-size: .8em;
clear: right;
}

header {
  text-align: center;
  background-color: rgb(155, 208, 255);
  position:fixed;
  width:100%;
  padding-bottom: 1em 0;
  top: 0;
  z-index: 1;
  height: 5rem;
}


header .branding h1{
  color: rgb(0, 0, 0);
  font-size: 40px;
}
header a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
nav {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color:  rgba(250, 197, 197, 0.904);
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  width: 20%;
  position: fixed;
  margin-left: 2px;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

.recipe-teaser h1 a{
  text-decoration: none;
  color:rgb(17, 100, 233)
}

h1 a:hover {
  color:rgb(0, 0, 0);
} 

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-color: black;
  font-size: .8em;
} 

footer p{
  text-align: center;
  color: white;
  line-height: 3;
} 

button {
  display: block;
  font-size: large;
  background-color: rgb(138, 138, 255);
  width: 50%;
  text-align: center;
  width: 20em;
  margin: 50px auto;
}


/* # for things labelled id  */
#ingredients {
  color: rgb(238, 137, 137);
  padding-left: 1rem;
}

#method {
  color:rgb(238, 137, 137);
  padding-left: 1rem;
}

.recipe-teaser {
  border: 2px solid rgb(0, 0, 0);
  background-color:rgba(155, 208, 255, 0.644);
  padding: 1em;
  flex-basis: 300px;
  flex-grow: 1;
  margin:1em;

}

.recipe img {
  float: right;
  width: auto;
  display: block;
  max-height: 50%;
  height: 220px;
  margin-top: 10%;
}

.list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width:1000px) {
  .recipe img {
    width: auto;
  }
}
@media (max-width: 1000px){
  .spaghetti2 {
    margin-top: 12% !important;
  }
}
@media screen and (max-width:800px) {
  nav{
    margin: 0;
    position: static;
    width: 100%;
  }

  nav ul{
    font-size: 1rem;
  }

    main {
      width: 100%;
    }

    .recipe img {
      float:none;
      width:auto;
      order: 1;
    }
  #ingredients{
    order: 2;
  }
  .ingredients-wrapper{
    display: flex;
  }
  .spaghetti2 {
    margin-top: 0% !important;
  }
  .ingredients-wrapper p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .caption{
    float: left;
  }
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button:hover {
    background: #A7D2E5;
    cursor: pointer;
}
button:hover a {
    text-decoration: underline;
}
button a {
    color: black;
    width: 100%;
    display: inline-block;
}
footer {
    background: rgba(0, 0, 0, 0.75);
}
main {
    box-shadow: 0px 0px 17px -2px #000000;
    border-radius: 5px;
}
.recipe-teaser {
    background-color: rgb(155, 208, 255);
}
.recipelist main {
    background-color: rgba(255, 255, 255, 0.8);
}
.recipe-teaser:hover {
    background-color: #EE8989;
}
.recipe-teaser:hover a {
    color: white;
}
.recipe-teaser:hover p {
    color: white;
}
.post-content h1 {
    background: #EE8989;
    color: white;
    margin-top: 0;
    padding: 0.5rem;
}
.post-content h2 {
    background: #EE8989;
    color: white !important;
    margin-left: 0;
}

nav a:hover {
    text-decoration: underline;
}
.recipehere {
    text-decoration: underline;
    padding-left: 0.2rem;
    color: white;
}
.recipehere::marker {
    content: "🍳";
}
nav::before {
    content: "Other Recipies";
    padding-left: 0.5rem;
}
.recipelink a {
    color: black;
}
.recipes ul a {
    color: black;
}
nav ul li a {
    color: black;
}
.recipe img{
border: 1px solid black;
}
.ingredients-wrapper{
  flex-direction: column;
}
.spaghetti {
  margin-top: 0 !important;
}
.crumble-recipe ul {
  min-height: 0;
  margin-bottom: 0;
}
.crumble-recipe{
  margin-left: 1rem;
}
@media (min-width: 1200px){
  .recipe img {
    margin-top: 5% !important;
  }
  .recipe .spaghetti {
    margin-top: 0% !important;
  }
}
.post-content h2 {
  padding-left: 1rem;
}

