/*! CSS bare bones for recipes site */

 html {
  font-family:Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the rest is up to you */

body{
  background-color: beige; 
}

h1, h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
  color: rgb(17, 100, 233);
  font-size: 25px;
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: center;
}

p {
  color: rgb(79, 77, 77);
}

h2 {
  color: green;
  margin-top: 15px;
  margin-bottom: 12px;
  
}

main {
  width:60%;
  padding: 0 12px;
  margin: 0 auto;
  /* border: 1px solid purple; */
  background-color: white;
}

img { 

  width: 100%;
  /* float: right; */
}

ul{
  margin-left: 30px;
  columns: 2;
  column-rule: 1px;
}

li {
  font-size: .8em;
  margin-bottom: 8px;
}

ol{
  margin-left: 30px;
}

.caption{
float:right;
width:60%;
font-size: .8em;
}
