/*! CSS bare bones for recipes site */

 html {
  font-family:Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the rest is up to you */



body{
  background-color: rgb(122, 237, 255);
}

/* background-image: url("../uploads/istockphoto-175242538-170667a.jpg");
} */

h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(17, 100, 233);
  font-size: 25px;
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: center;
}

p {
  color: rgb(79, 77, 77);
}

h2 {
  color: #000000;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 12px;
  
}

h3 {
  margin-left: 2px;
}
main {
  width:60%;
  margin: 0 auto;
  /* border: 1px solid purple; */
  background-color: white;
}

.home img{
  width: 100%;
}

img { 
  width: 100%;
  /* float: right; */
}

ul{
  margin-left: 30px;
  /* columns: 2; */
  /* column-rule: 1px; */
}

li {
  font-size: .8em;
  margin-bottom: 8px;
}

ol{
  margin-left: 30px;
}

.caption{
float:right;
width:60%;
font-size: .8em;
}

/* header {
  text-align: center;
  background-color: rgb(155, 208, 255);
  position:fixed;
  width:100%;
  padding-bottom: 1em 0;
  top: 0;
  z-index: 1;
  height: 5rem;
} */

header .branding h1{
  color: rgb(13, 0, 253);
  font-size: 40px;
}

nav {
  border: 1px solid red;
  display: none;
}

.recipe-teaser h1 a{
  text-decoration: none;
  color:rgb(17, 100, 233)
}

h1 a:hover {
  color:rgb(0, 0, 0);
} 

/* footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-color: black;
  font-size: .8em;
} */
/* 
footer p{
  text-align: center;
  color: white;
  line-height: 3;
} */

button {
  display: block;
  font-size: large;
  background-color: rgb(138, 138, 255);
  width: 50%;
  text-align: center;
  width: 20em;
  margin: 50px auto;
}

